@charset "UTF-8";
header #mobile-menu{
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:999px) {
    body{
        overflow-x: hidden;
    }
    header .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #dea93e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    header .nav-list a{
        margin-left: 0;
        opacity: 0 ;
    }
    header #mobile-menu{
        display: block;
    }

    header .nav-list.active{
        transform: translateX(0);
    }
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}