@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor01:#ffffff;
    --cor01:#f3c784;
    --cor01:#dea93e;
    --cor01:#ffaa00;
    --cor01:#000000;
}
body{
    background-color:#ffffff;
}
body a{
    text-decoration: none;
    color:white;
}
header{
    background-color: #dea93e;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 1000;
}
header h1 span{
    color: #f3c784;
    font-size: 1.2em;
}
header h1{
    color: #ffffff;
}
header .nav-list{
    display: flex;
    flex-direction: row;
}
header menu a{
    color: #ffffff;
    text-decoration: none;
    margin: 7px;
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s;
}
header menu a:hover{
    color: #f6dfbd;
}
main section.banner{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner1.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
main section.banner h1{
    text-align: center;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #f3c784;
    font-weight: bolder;
    text-transform: uppercase;
}
main section#livros h2{
    color: #dea93e;
    border-bottom: 2px solid #dea93e;
    margin: 20px 0px;
    text-indent: 10px;
}
main #livros #barraPesq{
    display: flex;
    justify-content: space-around;
    input{
        width: 200px;
        height: 50px;
        margin-top: 15px;
        border: none;
        background-color: #f6dfbd;
        padding: 7px;
        border-radius: 20px;
    }
}
main #livros #barraPesq .enviarPesq form #btn2{
    padding: 7px 20px;
    cursor: pointer;
    border: none;
    background-color:  #dea93e;
    border-radius: 20px;
    font-weight: bold;
    transition: all .5s;
    color: white;
}
main #livros #barraPesq .enviarPesq form #btn2:hover{
    background-color:  #ffaa00;
}
main #livros #barraPesq .enviarPesq button{
    padding: 7px 20px;
    cursor: pointer;
    border: none;
    background-color:  #dea93e;
    border-radius: 10px;
    font-weight: bold;
    transition: all .5s;
    color: white;
}
main #livros #barraPesq .enviarPesq button:hover{
    background-color:  #ffaa00;
}
main section#livros .todos-livros{
    display: grid;
    grid-template-columns:  200px 200px 200px 200px;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;    
}
main section#livros .todos-livros .card-livro{
    background-color: #f3c784;
    cursor: pointer;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: -4px 6px 3px 0px #93939315;
    transition: all .5s;
}
main section#livros .todos-livros .card-livro h1{
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    color: #000000;
}
main section#livros .todos-livros .card-livro p{
    font-size: 12pt;
    font-style: italic;
    font-weight: normal;
    margin-top: 7px;
    color: #ffffff;
}
main section#livros .todos-livros .card-livro img{
    border-radius: 10px;
    cursor: pointer;
    width: 180px;
    margin-bottom: 7px;
}
main section#livros .todos-livros .card-livro:hover{
    background-color: #f6dfbd;
}

main section#livros .todos-livros .card-livro #card-liv1{grid-area: 1/1/2/2;}
main section#livros .todos-livros .card-livro #card-liv2{grid-area: 1/2/2/3;}
main section#livros .todos-livros .card-livro #card-liv3{grid-area: 1/3/2/4;}
main section#livros .todos-livros .card-livro #card-liv4{grid-area: 1/4/2/5;}

main section#livros #btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
}
main section#livros #btn1 button{
    padding: 7px 20px;
    cursor: pointer;
    border: none;
    background-color:  #ffaa00;
    border-radius: 10px;
    font-weight: bold;
    transition: all .5s;
}
main section#livros #btn1 button:hover{
   background-color:  #dea93e; 
}
footer{
    background-color: #dea93e;
    padding: 20px;
    text-align: center;
    font-style: italic;
}
footer p{
    border-top: 2px solid rgba(0, 0, 0, 0.09);
    padding-top: 20px;
}